/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* End Global Rules */
/* Start Components */
.spacial-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.spacial-heading + p {
  margin: -30px 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .spacial-heading {
    font-size: 60px;
  }
  .spacial-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/* start Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 30px;
    padding-top: 40px;
    margin-top: 100px;
  }
  .services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }
  .services .services-content .srv i {
    color: var(--main-color);
    /* to deal the icon height and width issues*/
    flex-basis: 60px;
  }
  .services .services-content .srv .text {
    flex: 1;
  }
  .services .services-content .srv .text h3 {
    margin: 0 0 20px;
  }
  .services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
  }
  .services .services-content .image {
    text-align: center;
    position: relative;
  }
  .services .services-content .image::before {
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% +100px);
    top: -50;
    position: absolute;
    right: 0;
    z-index: -1;
  }
  .services .services-content .image img {
    width: 300px;
    height: 400px;
  }
  @media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }
  /* End Services */
  